#root {
  margin: 0 auto;
  padding: 0;
}


.roboto-title {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-intro {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 64px;
}

.inter-paragraph {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.751)
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  color: rgb(0, 0, 0)
}

.inter-title {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 48px;
  color: rgb(0, 0, 0)
}

.roboto-text {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

html, body {
  margin: 0;
  padding: 0;
}

header {
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
  margin: 0;
}

.header-container {
  list-style-type: none;
  margin: 0px;
  top: 0;
  padding: 2rem 8rem 2rem 8rem;
  overflow: hidden; 
  background-color: #dceef7;
}

.text-header {
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 0 16px 0px 0; /* fix */
  text-decoration: none;
  position: relative;
  display: inline-block;
  transform:translateY(0px);
  transition: transform 0.6s;
}

.text-header:hover {
  transform:translateY(-5px);
}

.leftHeader {
  float: left;
}

.rightHeader {
  float: right;
}

.row-intro {
  display: flex;
  flex-direction: row; 
  margin-right: 8rem;
  margin-left: 8rem;
  margin-top: 2rem;
  justify-content: start;
  align-items: start;
  height: auto;
}

.about-heading {
  display: flex;
  flex-direction: row; 
  width:640px;
  gap: 30px;
  flex-wrap: wrap;
  max-width: 100%;
}

.scribble-img {
  display: block;
  margin: 0;
  width: auto;
  max-width: 370px;
  height: auto;
  object-fit: contain;
}

.scribble-img-left {
  transform: rotateY(180deg);
  display: block;
  margin: 0;
  max-width: 370px;
  height: auto;
  object-fit: contain;
}

.introduction {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  margin-right: 5rem;
}

.image-intro {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display:block;
  position:sticky;
  margin: auto;
  
}

.center-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-about {
  width: 100%;
  height: auto;
  border-radius: 30px;
  object-fit:contain;
  display:block;
  position:sticky;
  margin-left: auto;
  margin-right: auto;
}

.about-body {
  margin-right: 8rem;
  margin-left: 8rem;
  padding-top: 5rem;
  display: flex;
  flex-direction: row; 
  height: auto;
  justify-content: space-evenly;
}

.tech-container {
  display: flex;
  justify-content: start;
  width: 100%;
}

.tech-list {
  margin: 0 5rem 1rem 0;
  color: #0e8e44;
}

.project-body {
  margin-right: 8rem;
  margin-left: 8rem;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  height: auto;
}

.project-heading {
  display: flex;
  flex-direction: row; 
  justify-content: flex-end;
  gap: 30px;
  flex-wrap: wrap;
  max-width: 100%;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 40px;
  width: 100%;
  margin-top: 2rem;
}

.project-img {
  width: 100%;
  height: auto;
  border-radius: 30px;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.project-info {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 1200px) {
  .about-body {
    flex-direction: column;   
  }

  .project-body {
    flex-direction: column;   
  }

  .row-intro {
    flex-direction: column;
  }

  .image-intro {
    max-width: 450px; 
    margin-left: 65px;
  }

  .image-about {
    max-width: 450px; 
    margin-left: 65px;
  }
  
}